.side
  .side-header
    .side-header__box
      %p.side-header__box__user-name xyz
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          =link_to "/groups/new" do
            %i.fa.fa-edit
        %li.side-header__box__menu__edit-user
          =link_to "/users/1013/edit" do
            %i.fa.fa-cog
  .groups
    =link_to "/groups/2033/messages" do
      .group
        %p.group__group-name tech-camp！
        %p.group__latest-message お早う御座います  
        %p.group__group-name tech-camp！ 
        %p.group__latest-message こんにちは
        %p.group__group-name tech-camp！
        %p.group__latest-message お疲れ様でした